name: publish

on:
  release:
    types:
      - created

jobs:
  publish:
    name: Publish to GitLab package registry
    runs-on: ubuntu-latest
    if: ${{ vars.PUBLISH_PACKAGE_BOOLEAN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: uv sync
        env:
          UV_INDEX_GITLAB_USERNAME: ${{ vars.GITLAB_PACKAGE_REGISTRY_TOKEN_NAME }}
          UV_INDEX_GITLAB_PASSWORD: ${{ secrets.GITLAB_PACKAGE_REGISTRY_TOKEN }}
      - name: Publish to Gitlab package registry
        run: |
          uv build
          uv publish --index gitlab
        env:
          UV_PUBLISH_USERNAME: ${{ vars.GITLAB_PACKAGE_REGISTRY_TOKEN_NAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.GITLAB_PACKAGE_REGISTRY_TOKEN }}
